@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.cdnfonts.com/css/quicksand');

$accent-font: 'Bebas Neue', sans-serif;
$default-font: 'Quicksand Book', sans-serif;
$accent-color: #3ce09d;
$accent-shadow: 0px 8px 24px 0px rgba(60, 224, 157, 0.5);
$default-shadow: 0 0 20px rgb(0 0 0 / 80%);
$shadow-color: #404040;
$text-color: #909090;
$text-color2: #5a5a5a;

* {
  font-family: $default-font;
  box-sizing: border-box;

  &::-webkit-scrollbar {
    width: 3px;
    border-radius: 20px;
  }

  &::-webkit-scrollbar-track {
    background: #111111;
  }

  &::-webkit-scrollbar-thumb {
    background: $accent-color;
  }
}

html {
  width: 100%;
  height: 100%;

}

body {
  background: #151515;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: $text-color;
}

.dashboard-container {
  //background: #191919;
  min-width: 800px;
  display: flex;
  flex-direction: row;
  //justify-content: center;
  box-shadow: $default-shadow;
  height: 600px;

  .menu {
    border-right: 1px solid #222222;
    width: 300px;
    height: 100%;
    overflow-y: auto;

    .menu-item {
      padding: 10px 20px;
      transition: .5s;
      width: 100%;
      position: relative;

      .buttons {
        position: absolute;
        right: 20px;
        top: 0;
        transition: .25s;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        opacity: 0;
        font-size: 1.5em;
        &:hover {
          color: $accent-color;
        }
      }

      .name {
        font-weight: bold;
        margin-bottom: 5px;
        transition: .25s;
      }

      .count {
        font-size: .8em;
        margin: 5px 0;
        color: $text-color2;
      }

      .date {
        font-size: .8em;
        margin-top: 5px;
      }

      &:hover, &.active {
        box-shadow: $default-shadow;
        cursor: pointer;

        .buttons {
          opacity: 1;
        }
        .name {
          color: $accent-color;
        }
      }
    }
  }

  .logs {
    width: 600px;
    height: 100%;
    overflow-y: auto;

    .log-item {
      width: 100%;
      padding: 10px 15px;

      .date {
        font-size: 1.2em;
        margin-bottom: 10px;
      }
    }
  }

}

.home-page {
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
}

.logo-wrapper {
  font-size: 10em;

  .post-title {
    font-family: $accent-font;
    text-shadow: 0 0 20px #20c984;
    animation: neon 3s infinite;
    animation-timing-function: linear;
    //position: absolute;
    font-size: .3em;
    //left: 80px;
    //bottom: -10px;
    color: #3ce09d;
    padding: 3px 5px;
    font-weight: bold;
    text-align: center;
    margin-top: -45px;
  }
}

.logo {
  display: flex;
  flex-direction: row;
  text-shadow: 0 0 20px rgb(0 0 0 / 90%);
  font-family: $accent-font;
  font-weight: bold;
  letter-spacing: 1px;
  position: relative;

  .text {
    color: #404040;
    font-family: $accent-font;
    font-weight: bold;
  }

  .dot {
    color: #3ce09d;
    font-family: $accent-font;
    font-weight: bold;
    text-shadow: 0 0 20px #20c984;
  }
}

.btn {
  display: inline-block;
  transition: .25s;
  box-shadow: $default-shadow;

  &.lg {
    .btn-wrapper {
      font-size: 1.5em;
      padding: 0.7rem 1rem;
    }
  }

  .btn-wrapper {
    background: darken($accent-color, 10%);
    color: #111;
    display: flex;
    padding: 0.5rem 0.7rem;
    border-radius: 7px;
    font-size: 1em;
    transition: .25s;

    .btn-icon {
      margin-right: 10px;
    }
  }

  &:hover {
    cursor: pointer;
    transform: translateY(-2px);

    .btn-wrapper {
      background: darken($accent-color, 15%);
    }
  }

  &.btn-bg {
    .btn-wrapper {
      background: transparent;
      color: #eaeaea;
      border: 1px solid $accent-color;
    }
  }
}

.my-awesome-json-theme {
  background: #151515;
  white-space: nowrap;
  color: #525252;
  font-size: 14px;
  font-family: Consolas, Menlo, Courier, monospace;
  box-shadow: $default-shadow;

  .jv-ellipsis {
    color: #999;
    background-color: #3c3c3c;
    display: inline-block;
    line-height: 0.9;
    font-size: 0.9em;
    padding: 0px 4px 2px 4px;
    border-radius: 3px;
    vertical-align: 2px;
    cursor: pointer;
    user-select: none;
  }

  .jv-button {
    color: #49b3ff
  }

  .jv-key {
    color: $text-color;
    margin-right: 5px;
  }

  .jv-item {
    &.jv-array {
      color: #111111
    }

    &.jv-boolean {
      color: #fc1e70
    }

    &.jv-function {
      color: #067bca
    }

    &.jv-number {
      color: #fc1e70
    }

    &.jv-number-float {
      color: #fc1e70
    }

    &.jv-number-integer {
      color: #fc1e70
    }

    &.jv-object {
      color: $text-color2
    }

    &.jv-undefined {
      color: #e08331
    }

    &.jv-string {
      color: #42b983;
      word-break: break-word;
      white-space: normal;
    }
  }

  .jv-code {
    .jv-toggle {
      &:before {
        padding: 0px 2px;
        border-radius: 2px;
      }

      &:hover {
        &:before {
          background: #eee;
        }
      }
    }
  }
}

.accent-color {
  color: $accent-color;
}

@-webkit-keyframes neon {
  0% {
    opacity: 1;
  }

  45% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  55% {
    opacity: 1;
  }

  60% {
    opacity: 0;
  }

  63% {
    opacity: 1;
  }

  93% {
    opacity: 1;
  }

  95% {
    opacity: 0;
  }

  97% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

.slide-fade-enter-active {
  transition: all 0.3s ease-out;
}

.slide-fade-leave-active {
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateX(-30px);
  opacity: 0;
}

.slide-up-enter-active,
.slide-up-leave-active {
  transition: all 0.25s ease-out;
}
.slide-up-enter-from {
  opacity: 0;
  transform: translateY(30px);
}
.slide-up-leave-to {
  opacity: 0;
  transform: translateY(-30px);
}