version: '3'

networks:
  app_network:
    driver: bridge
    ipam:
     config:
       - subnet: 10.5.0.0/16

services:
  app:
    image: orendat/go:latest
    restart: unless-stopped
    volumes:
      - ./app:/usr/src/app/app
      - ./storage:/usr/src/app/storage
    command: ["./app"]
    networks:
      app_network:
        ipv4_address: 10.5.0.6