version: '3'

networks:
  app_network:
    driver: bridge
    ipam:
     config:
       - subnet: 10.5.0.0/16

services:
  app:
    image: orendat/go:latest
    user: "{{USER}}:{{GROUP}}"
    environment:
      - GOCACHE=/usr/src/app/tmp/cache
    volumes:
      - .:/usr/src/app
      - /etc/passwd:/etc/passwd
      - /etc/shadow:/etc/shadow
      - ~/go/pkg:/go/pkg # для синхронизиации пакетов с IDE
    command: ["air"]
    networks:
      app_network:
        ipv4_address: 10.5.0.6