version: '3'

services:
  app:
    image: orendat/go:latest
    ports:
      - "2345:2345"
      - "80:8080"
    volumes:
      - .:/usr/src/app
      - ${GOPATH}/pkg:/go/pkg # для синхронизиации пакетов с IDE
    command: ["air"]
  db:
    image: postgres:alpine
    restart: unless-stopped
    command: ["postgres", "-c", "log_statement=all", "-c", "log_destination=stderr"]
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - ./docker/pg/data:/var/lib/postgresql/data
    ports:
      - ${DB_PORT:-5432}:5432