version: '3'

services:
  app:
    image: orendat/go:latest
    user: "{{USER}}:{{GROUP}}"
    environment:
      - GOCACHE=/usr/src/app/tmp/cache
    ports:
      - "3000:3000"
      - "8080:8080"
      - "2345:2345"
    volumes:
      - .:/usr/src/app
      - /etc/passwd:/etc/passwd
      - /etc/shadow:/etc/shadow
      - ~/go/pkg:/go/pkg # для синхронизиации пакетов с IDE
    command: ["air"]